// -----------------------------------------------------------------------------\\
// #VARIABLES colors
// -----------------------------------------------------------------------------//



//
// Default colors.
//
// 1. Transparent is a variable to prevent typo's.
//
$black: #000;
$white: #fff;
$transparent: transparent; // [1]
