// ----------------------------------------------------------------------------- \\
// #VARIABLES defaults
// ----------------------------------------------------------------------------- //



// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

$base-font-size: 18px !default;
$base-line-height: 26px !default;



// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

//
// Default colors.
//
// 1. Transparent is a variable to prevent typo's.
//
$black: #000;
$white: #fff;
$transparent: transparent; // [1]



//
// Colors that will be used to generate utility classes.
//
$utility-colors: (
    black: $black,
    white: $white,
    transparent: $transparent
) !default;



// -----------------------------------------------------------------------------
// Responsive
// -----------------------------------------------------------------------------

//
// Responsive.
//
// 1. Smallest screens e.g. phones.
// 2. Regular mobile screens e.g. iPhones.
// 3. Medium screens e.g. tablets.
// 4. Large screens e.g. desktops.
//
$breakpoints: (
    xs: 480px, // [1]
    sm: 768px, // [2]
    md: 992px, // [3]
    lg: 1200px, // [4]
) !default;



// -----------------------------------------------------------------------------
// Whitespace
// -----------------------------------------------------------------------------

//
// Whitespace values are used to generate margin and padding utility classes.
//
$whitespace-values: 0 0.5rem 1rem 2rem 4rem !default;