// -----------------------------------------------------------------------------\\
// #VARIABLES responsive
// -----------------------------------------------------------------------------//


//
// Responsive.
//
// 1. Smallest screens e.g. phones.
// 2. Regular mobile screens e.g. iPhones.
// 3. Medium screens e.g. tablets.
// 4. Large screens e.g. desktops.
//
$zss-screens: (
    xs: 0,
    sm: 550px, // [1]
    md: 780px, // [2]
    lg: 990px, // [3]
    xl: 1200px, // [4]
) !default;
