
$zss--base-font-size: 16px !default;
$zss--base-line-height: 1.5 !default;



$zss--colors: (
    black: $black,
    white: $white,
    transparent: $transparent
) !default;



//
// A fixed grid has a maximum width per screen.
//
$zss--grid--max-widths: (
    sm: 530px,
    md: 750px,
    lg: 960px,
    xl: 1170px
) !default;

$zss--grid--columns: 12 !default;
$zss--grid--gutter: 2rem !default;

//
// The method of creating grid columns. Possible options:
// 1. `flex`: the columns are positioned using flexbox
// 2. `float`: the columns are positioned with floats, for support of ancient browsers.
//
$zss--grid--type: flex !default;



//
// Responsive.
//
// 1. Smallest screens e.g. phones.
// 2. Regular mobile screens e.g. iPhones.
// 3. Medium screens e.g. tablets.
// 4. Large screens e.g. desktops.
//
$zss--screens: (
    xs: 0,
    sm: 550px, // [1]
    md: 780px, // [2]
    lg: 990px, // [3]
    xl: 1200px, // [4]
) !default;



$zss--border-colors: $zss--colors !default;
$zss--border-radius-scale: 0.125rem 0.25rem 0.5rem !default;
$zss--border-width-scale: 0.125rem 0.25rem 0.5rem !default;



$zss--spacing-scale: 0 0.5rem 1rem 2rem 4rem !default;



$zss--font-scale: 4rem 3rem 2rem 1rem 0.75rem 0.5rem !default;



$zss--line-height-scale: 1 1.25 1.5 1.75 !default;
