
//
// The key of this color map is used in the generated class name.
//
/* stylelint-disable color-no-hex */
$zss--colors: (
    black: #000,
    white: #fff,
    transparent: transparent
) !default;
/* stylelint-enable color-no-hex */

$zss--color-opacity-scale: 0 0.25 0.5 0.75 1 !default;



$zss--grid-max-widths: (
    sm: 530px,
    md: 730px,
    lg: 960px,
    xl: 1190px
) !default;

$zss--grid-columns: 12 !default;
$zss--grid-right-gap: 1rem;
$zss--grid-left-gap: $zss--grid-right-gap;
$zss--grid-column-gap: 1rem;
$zss--grid-row-gap: $zss--grid-column-gap;



$zss--breakpoints: (
    xs: 0,
    sm: 550px,
    md: 760px,
    lg: 990px,
    xl: 1200px
) !default;



$zss--border-colors: $zss--colors !default;
$zss--border-radius-scale: 0 0.125rem 0.25rem 0.5rem !default;
$zss--border-width-scale: 0 0.125rem 0.25rem 0.5rem !default;



$zss--spacing-scale: 0 0.25rem 0.5rem 1rem 2rem 4rem !default;



$zss--type-scale: 6rem 4rem 3rem 2rem 1.5rem 1rem 0.75rem 0.5rem !default;
$zss--base-font-size: 1rem !default;



$zss--line-height-scale: 0 1 1.25 1.5 1.75 !default;
$zss--base-line-height: 1.5 !default;



$zss--width--scale: 1rem 2rem 4rem 8rem !default;
$zss--width--percentage-scale: 10 20 25 33 50 66 75 100 !default;
$zss--max-width--scale: 1rem 2rem 4rem 8rem 16rem 32rem !default;



$zss--height--scale: 1rem 2rem 4rem 8rem !default;
$zss--height--percentage-scale: 25 50 75 100 !default;



$zss--media-margin: 1rem !default;
