/* ----------------------------------------------------------------------------- *\
 * Abstract object for using a <ul> or <ol> as an interface element,
 * instead of it being a text list with bullet points.
\* ----------------------------------------------------------------------------- */



/**
 * The list element.
 */
.o-list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

/**
 * Make the list horizontal.
 */
.o-list-reset--inline {
    overflow: hidden;
}



/**
 * The list item.
 */
.o-list-reset__item {
    /**
     * When the list is horizontal, the items should be next to each other, so float them.
     */
    .o-list-reset--inline > & {
        float: left;
    }
}
