
@each $name, $value in $zss--colors {
    .u-bg--#{inspect($name)} { background-color: $value; }
    .u-bg-hover--#{inspect($name)} { @include hover { background-color: $value; } }
    .u-bg-active--#{inspect($name)} { @include active { background-color: $value; } }
    .u-bg-focus--#{inspect($name)} { @include focus { background-color: $value; } }
}

@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        @each $name, $value in $zss--colors {
            .u-bg--#{inspect($name)}\@#{$breakpoint} { background-color: $value; }
            .u-bg-hover--#{inspect($name)}\@#{$breakpoint} { @include hover { background-color: $value; } }
            .u-bg-active--#{inspect($name)}\@#{$breakpoint} { @include active { background-color: $value; } }
            .u-bg-focus--#{inspect($name)}\@#{$breakpoint} { @include focus { background-color: $value; } }
        }
    }
}
