
@each $name, $value in $zss--colors {
    .u-bg--#{inspect($name)} { background-color: $value; }

    .u-bg-hover--#{inspect($name)} {
        &:hover { background-color: $value; }
    }
}



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        @each $name, $value in $zss--colors {
            .u-bg--#{inspect($name)}\@#{$breakpoint} { background-color: $value; }

            .u-bg-hover--#{inspect($name)}\@#{$breakpoint} {
                &:hover { background-color: $value; }
            }
        }
    }
}
