
@each $value in $zss--border-width-scale {
    $index: index($zss--border-width-scale, $value) - 1;
    .u-bw--#{$index} { border-width: $value; }
    .u-bw--t#{$index} { border-top-width: $value; }
    .u-bw--r#{$index} { border-right-width: $value; }
    .u-bw--b#{$index} { border-bottom-width: $value; }
    .u-bw--l#{$index} { border-left-width: $value; }
}



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        @each $value in $zss--border-width-scale {
            $index: index($zss--border-width-scale, $value) - 1;
            .u-bw--#{$index}\@#{$breakpoint} { border-width: $value; }
            .u-bw--t#{$index}\@#{$breakpoint} { border-top-width: $value; }
            .u-bw--r#{$index}\@#{$breakpoint} { border-right-width: $value; }
            .u-bw--b#{$index}\@#{$breakpoint} { border-bottom-width: $value; }
            .u-bw--l#{$index}\@#{$breakpoint} { border-left-width: $value; }
        }
    }
}
