
.u-circle { border-radius: 100%; }

@each $value in $zss--border-radius-scale {
    $index: index($zss--border-radius-scale, $value) - 1;
    .u-br--#{$index} { border-radius: $value; }
    .u-br--t#{$index} { border-top-left-radius: $value; }
    .u-br--r#{$index} { border-top-right-radius: $value; }
    .u-br--b#{$index} { border-bottom-right-radius: $value; }
    .u-br--l#{$index} { border-bottom-left-radius: $value; }
}



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-circle\@#{$breakpoint} { border-radius: 100%; }

        @each $value in $zss--border-radius-scale {
            $index: index($zss--border-radius-scale, $value) - 1;
            .u-br--#{$index}\@#{$breakpoint} { border-radius: $value; }
            .u-br--t#{$index}\@#{$breakpoint} { border-top-left-radius: $value; }
            .u-br--r#{$index}\@#{$breakpoint} { border-top-right-radius: $value; }
            .u-br--b#{$index}\@#{$breakpoint} { border-bottom-right-radius: $value; }
            .u-br--l#{$index}\@#{$breakpoint} { border-bottom-left-radius: $value; }
        }
    }
}
