
@each $name, $value in $zss--colors {
    .u-#{inspect($name)} { color: $value; }

    .u-hover--#{inspect($name)} {
        &:hover { color: $value; }
    }
}



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        @each $name, $value in $zss--colors {
            .u-#{inspect($name)}\@#{$breakpoint} { color: $value; }

            .u-hover--#{inspect($name)}\@#{$breakpoint} {
                &:hover { color: $value; }
            }
        }
    }
}
