
@each $name, $value in $zss--colors {
    .u-hover-#{inspect($name)} {
        &:hover { color: $value; }
    }

    .u-hover-bg--#{inspect($name)} {
        &:hover { background-color: $value; }
    }
}



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        @each $name, $value in $zss--colors {
            .u-hover-#{inspect($name)}\@#{$breakpoint} {
                @include hover() {
                    color: $value;
                }
            }

            .u-hover-bg--#{inspect($name)}\@#{$breakpoint} {
                @include hover() {
                    background-color: $value;
                }
            }
        }
    }
}
