
@each $name, $value in $zss--colors {
    .u-#{inspect($name)} { color: $value; }

    .u-hover--#{inspect($name)} {
        @include hover { color: $value; }
    }

    .u-active--#{inspect($name)} {
        @include active { color: $value; }
    }

    .u-focus--#{inspect($name)} {
        @include active { color: $value; }
    }
}



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        @each $name, $value in $zss--colors {
            .u-#{inspect($name)}\@#{$breakpoint} { color: $value; }

            .u-hover--#{inspect($name)}\@#{$breakpoint} {
                @include hover { color: $value; }
            }

            .u-active--#{inspect($name)}\@#{$breakpoint} {
                @include active { color: $value; }
            }
            
            .u-focus--#{inspect($name)}\@#{$breakpoint} {
                @include focus { color: $value; }
            }
        }
    }
}
