
.u-flex--auto { flex: 1 1 auto; }
.u-no-flex { flex: none; }

.u-flex--column { flex-direction: column; }
.u-flex--row { flex-direction: row; }

.u-flex--items--start { align-items: flex-start; }
.u-flex--items--end { align-items: flex-end; }
.u-flex--items--center { align-items: center; }
.u-flex--items--base { align-items: baseline; }
.u-flex--items--stretch { align-items: stretch; }

.u-flex--content--start { align-content: flex-start; }
.u-flex--content--end { align-content: flex-end; }
.u-flex--content--center { align-content: center; }
.u-flex--content--base { align-content: baseline; }
.u-flex--content--stretch { align-content: stretch; }
.u-flex--content--between { align-content: space-between; }

.u-flex--self--start { align-self: flex-start; }
.u-flex--self--end { align-self: flex-end; }
.u-flex--self--center { align-self: center; }
.u-flex--self--base { align-self: baseline; }
.u-flex--self--stretch { align-self: stretch; }

.u-flex--justify--start { justify-content: flex-start; }
.u-flex--justify--end { justify-content: flex-end; }
.u-flex--justify--center { justify-content: center; }
.u-flex--justify--base { justify-content: baseline; }
.u-flex--justify--stretch { justify-content: stretch; }
.u-flex--justify--between { justify-content: space-between; }

.u-flex--wrap { flex-wrap: wrap; }
.u-flex--wrap-reverse { flex-wrap: wrap-reverse; }
.u-no-flex-wrap { flex-wrap: nowrap; }

.u-order--first { order: -1; }
.u-order--1 { order: 1; }
.u-order--2 { order: 2; }
.u-order--3 { order: 3; }
.u-order--4 { order: 4; }
.u-order--last { order: 666; }



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-flex--auto\@#{$breakpoint} { flex: 1 1 auto; }
        .u-no-flex\@#{$breakpoint} { flex: none; }

        .u-flex--column\@#{$breakpoint} { flex-direction: column; }
        .u-flex--row\@#{$breakpoint} { flex-direction: row; }

        .u-flex--items--start\@#{$breakpoint} { align-items: flex-start; }
        .u-flex--items--end\@#{$breakpoint} { align-items: flex-end; }
        .u-flex--items--center\@#{$breakpoint} { align-items: center; }
        .u-flex--items--base\@#{$breakpoint} { align-items: baseline; }
        .u-flex--items--stretch\@#{$breakpoint} { align-items: stretch; }

        .u-flex--content--start\@#{$breakpoint} { align-content: flex-start; }
        .u-flex--content--end\@#{$breakpoint} { align-content: flex-end; }
        .u-flex--content--center\@#{$breakpoint} { align-content: center; }
        .u-flex--content--base\@#{$breakpoint} { align-content: baseline; }
        .u-flex--content--stretch\@#{$breakpoint} { align-content: stretch; }
        .u-flex--content--between\@#{$breakpoint} { align-content: space-between; }

        .u-flex--self--start\@#{$breakpoint} { align-self: flex-start; }
        .u-flex--self--end\@#{$breakpoint} { align-self: flex-end; }
        .u-flex--self--center\@#{$breakpoint} { align-self: center; }
        .u-flex--self--base\@#{$breakpoint} { align-self: baseline; }
        .u-flex--self--stretch\@#{$breakpoint} { align-self: stretch; }

        .u-flex--justify--start\@#{$breakpoint} { justify-content: flex-start; }
        .u-flex--justify--end\@#{$breakpoint} { justify-content: flex-end; }
        .u-flex--justify--center\@#{$breakpoint} { justify-content: center; }
        .u-flex--justify--base\@#{$breakpoint} { justify-content: baseline; }
        .u-flex--justify--stretch\@#{$breakpoint} { justify-content: stretch; }
        .u-flex--justify--between\@#{$breakpoint} { justify-content: space-between; }

        .u-flex--wrap\@#{$breakpoint} { flex-wrap: wrap; }
        .u-flex--wrap-reverse\@#{$breakpoint} { flex-wrap: wrap-reverse; }
        .u-no-flex-wrap\@#{$breakpoint} { flex-wrap: nowrap; }

        .u-order--first\@#{$breakpoint} { order: -1; }
        .u-order--1\@#{$breakpoint} { order: 1; }
        .u-order--2\@#{$breakpoint} { order: 2; }
        .u-order--3\@#{$breakpoint} { order: 3; }
        .u-order--4\@#{$breakpoint} { order: 4; }
        .u-order--last\@#{$breakpoint} { order: 666; }
    }
}
