
.u-weight--100 { font-weight: 100; }
.u-weight--200 { font-weight: 200; }
.u-weight--300 { font-weight: 300; }
.u-weight--400 { font-weight: 400; }
.u-weight--500 { font-weight: 500; }
.u-weight--600 { font-weight: 600; }
.u-weight--700 { font-weight: 700; }
.u-weight--800 { font-weight: 800; }
.u-weight--900 { font-weight: 900; }



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-weight--100\@#{$breakpoint} { font-weight: 100; }
        .u-weight--200\@#{$breakpoint} { font-weight: 200; }
        .u-weight--300\@#{$breakpoint} { font-weight: 300; }
        .u-weight--400\@#{$breakpoint} { font-weight: 400; }
        .u-weight--500\@#{$breakpoint} { font-weight: 500; }
        .u-weight--600\@#{$breakpoint} { font-weight: 600; }
        .u-weight--700\@#{$breakpoint} { font-weight: 700; }
        .u-weight--800\@#{$breakpoint} { font-weight: 800; }
        .u-weight--900\@#{$breakpoint} { font-weight: 900; }
    }
}
