
.u-height--auto { width: auto; }

.u-height--25v { height: 25vh; }
.u-height--50v { height: 50vh; }
.u-height--75v { height: 75vh; }
.u-height--100v { height: 100vh; }

@each $value in $zss--height--scale {
    .u-height--#{index($zss--height--scale, $value)} { height: $value; }
}

@each $value in $zss--height--percentage-scale {
    .u-height--#{$value} { height: #{unquote($value + '%')}; }
}




@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-height--auto\@#{$breakpoint} { width: auto; }

        .u-height--25v\@#{$breakpoint} { height: 25vh; }
        .u-height--50v\@#{$breakpoint} { height: 50vh; }
        .u-height--75v\@#{$breakpoint} { height: 75vh; }
        .u-height--100v\@#{$breakpoint} { height: 100vh; }

        @each $value in $zss--height--scale {
            .u-height--#{index($zss--height--scale, $value)}\@#{$breakpoint} { height: $value; }
        }

        @each $value in $zss--height--percentage-scale {
            .u-height--#{$value}\@#{$breakpoint} { height: #{unquote($value + '%')}; }
        }
    }
}
