
.u-margin--t-auto { margin-top: auto; }
.u-margin--r-auto { margin-right: auto; }
.u-margin--b-auto { margin-bottom: auto; }
.u-margin--l-auto { margin-left: auto; }

.u-margin--x-auto {
    margin-right: auto;
    margin-left: auto;
}

.u-margin--y-auto {
    margin-top: auto;
    margin-bottom: auto;
}

@for $i from 1 through length($zss--spacing-scale) {
    $value: nth($zss--spacing-scale, $i);

    .u-margin--#{$i - 1} { margin: $value; }
    .u-margin--t#{$i - 1} { margin-top: $value; }
    .u-margin--r#{$i - 1} { margin-right: $value; }
    .u-margin--b#{$i - 1} { margin-bottom: $value; }
    .u-margin--l#{$i - 1} { margin-left: $value; }

    .u-margin--y#{$i - 1} {
        margin-top: $value;
        margin-bottom: $value;
    }

    .u-margin--x#{$i - 1} {
        margin-right: $value;
        margin-left: $value;
    }

    @if $value > 0 {
        .u-margin--t#{$i - 1}n { margin-top: -#{$value}; }
        .u-margin--r#{$i - 1}n { margin-right: -#{$value}; }
        .u-margin--b#{$i - 1}n { margin-bottom: -#{$value}; }
        .u-margin--l#{$i - 1}n { margin-left: -#{$value}; }
    }
}



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-margin--t-auto\@#{$breakpoint} { margin-top: auto; }
        .u-margin--r-auto\@#{$breakpoint} { margin-right: auto; }
        .u-margin--l-auto\@#{$breakpoint} { margin-left: auto; }
        .u-margin--b-auto\@#{$breakpoint} { margin-bottom: auto; }

        .u-margin--x-auto\@#{$breakpoint} {
            margin-right: auto;
            margin-left: auto;
        }

        .u-margin--y-auto\@#{$breakpoint} {
            margin-top: auto;
            margin-bottom: auto;
        }

        @for $i from 1 through length($zss--spacing-scale) {
            $value: nth($zss--spacing-scale, $i);

            .u-margin--#{$i - 1}\@#{$breakpoint} { margin: $value; }
            .u-margin--t#{$i - 1}\@#{$breakpoint} { margin-top: $value; }
            .u-margin--r#{$i - 1}\@#{$breakpoint} { margin-right: $value; }
            .u-margin--b#{$i - 1}\@#{$breakpoint} { margin-bottom: $value; }
            .u-margin--l#{$i - 1}\@#{$breakpoint} { margin-left: $value; }

            .u-margin--y#{$i - 1}\@#{$breakpoint} {
                margin-top: $value;
                margin-bottom: $value;
            }

            .u-margin--x#{$i - 1}\@#{$breakpoint} {
                margin-right: $value;
                margin-left: $value;
            }

            @if $value > 0 {
                .u-margin--t#{$i - 1}n\@#{$breakpoint} { margin-top: -#{$value}; }
                .u-margin--r#{$i - 1}n\@#{$breakpoint} { margin-right: -#{$value}; }
                .u-margin--b#{$i - 1}n\@#{$breakpoint} { margin-bottom: -#{$value}; }
                .u-margin--l#{$i - 1}n\@#{$breakpoint} { margin-left: -#{$value}; }
            }
        }
    }
}
