
.u-of--auto { overflow: auto; }
.u-of--hidden { overflow: hidden; }
.u-of--scroll { overflow: scroll; }
.u-of--visible { overflow: visible; }

.u-ofx--auto { overflow-x: auto; }
.u-ofx--hidden { overflow-x: hidden; }
.u-ofx--scroll { overflow-x: scroll; }
.u-ofx--visible { overflow-x: visible; }

.u-ofy--auto { overflow-y: auto; }
.u-ofy--hidden { overflow-y: hidden; }
.u-ofy--scroll { overflow-y: scroll; }
.u-ofy--visible { overflow-y: visible; }



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-of--auto\@#{$breakpoint} { overflow: auto; }
        .u-of--hidden\@#{$breakpoint} { overflow: hidden; }
        .u-of--scroll\@#{$breakpoint} { overflow: scroll; }
        .u-of--visible\@#{$breakpoint} { overflow: visible; }

        .u-ofx--auto\@#{$breakpoint} { overflow-x: auto; }
        .u-ofx--hidden\@#{$breakpoint} { overflow-x: hidden; }
        .u-ofx--scroll\@#{$breakpoint} { overflow-x: scroll; }
        .u-ofx--visible\@#{$breakpoint} { overflow-x: visible; }

        .u-ofy--auto\@#{$breakpoint} { overflow-y: auto; }
        .u-ofy--hidden\@#{$breakpoint} { overflow-y: hidden; }
        .u-ofy--scroll\@#{$breakpoint} { overflow-y: scroll; }
        .u-ofy--visible\@#{$breakpoint} { overflow-y: visible; }
    }
}
