
@for $i from 1 through length($zss--spacing-scale) {
    $value: nth($zss--spacing-scale, $i);

    .u-padding--#{$i - 1} { padding: $value; }
    .u-padding--t#{$i - 1} { padding-top: $value; }
    .u-padding--r#{$i - 1} { padding-right: $value; }
    .u-padding--b#{$i - 1} { padding-bottom: $value; }
    .u-padding--l#{$i - 1} { padding-left: $value; }

    .u-padding--y#{$i - 1} {
        padding-top: $value;
        padding-bottom: $value;
    }

    .u-padding--x#{$i - 1} {
        padding-right: $value;
        padding-left: $value;
    }
}



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        @for $i from 1 through length($zss--spacing-scale) {
            $value: nth($zss--spacing-scale, $i);

            .u-padding--#{$i - 1}\@#{$breakpoint} { padding: $value; }
            .u-padding--t#{$i - 1}\@#{$breakpoint} { padding-top: $value; }
            .u-padding--r#{$i - 1}\@#{$breakpoint} { padding-right: $value; }
            .u-padding--b#{$i - 1}\@#{$breakpoint} { padding-bottom: $value; }
            .u-padding--l#{$i - 1}\@#{$breakpoint} { padding-left: $value; }

            .u-padding--y#{$i - 1}\@#{$breakpoint} {
                padding-top: $value;
                padding-bottom: $value;
            }

            .u-padding--x#{$i - 1}\@#{$breakpoint} {
                padding-right: $value;
                padding-left: $value;
            }
        }
    }
}
