
.u-absolute { position: absolute; }
.u-fixed { position: fixed; }
.u-relative { position: relative; }
.u-static { position: static; }

.u-top--0 { top: 0; }
.u-right--0 { right: 0; }
.u-bottom--0 { bottom: 0; }
.u-left--0 { left: 0; }



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-absolute\@#{$breakpoint} { position: absolute; }
        .u-fixed\@#{$breakpoint} { position: fixed; }
        .u-relative\@#{$breakpoint} { position: relative; }
        .u-static\@#{$breakpoint} { position: static; }

        .u-top--0\@#{$breakpoint} { top: 0; }
        .u-right--0\@#{$breakpoint} { right: 0; }
        .u-bottom--0\@#{$breakpoint} { bottom: 0; }
        .u-left--0\@#{$breakpoint} { left: 0; }
    }
}
