
.u-strike { text-decoration: line-through; }
.u-underline { text-decoration: underline; }
.u-no-decoration { text-decoration: none; }



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-strike\@#{$breakpoint} { text-decoration: line-through; }
        .u-underline\@#{$breakpoint} { text-decoration: underline; }
        .u-no-decoration\@#{$breakpoint} { text-decoration: none; }
    }
}
