
.u-capitalize { text-transform: capitalize; }
.u-lower { text-transform: lowercase; }
.u-upper { text-transform: uppercase; }
.u-no-transform { text-transform: none; }



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-capitalize\@#{$breakpoint} { text-transform: capitalize; }
        .u-lower\@#{$breakpoint} { text-transform: lowercase; }
        .u-upper\@#{$breakpoint} { text-transform: uppercase; }
        .u-no-transform\@#{$breakpoint} { text-transform: none; }
    }
}
