.u-trans--all { transition: all 150ms ease-in; }
.u-trans--bc { transition: border-color 150ms ease-in; }
.u-trans--bg { transition: background-color 150ms ease-in; }
.u-trans--color { transition: color 150ms ease-in; }
