
.u-z--bottom { z-index: -1; }
.u-z--0 { z-index: 0; }
.u-z--1 { z-index: 1; }
.u-z--2 { z-index: 2; }
.u-z--3 { z-index: 3; }
.u-z--4 { z-index: 4; }
.u-z--top { z-index: 666; }



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-z--bottom\@#{$breakpoint} { z-index: -1; }
        .u-z--0\@#{$breakpoint} { z-index: 0; }
        .u-z--1\@#{$breakpoint} { z-index: 1; }
        .u-z--2\@#{$breakpoint} { z-index: 2; }
        .u-z--3\@#{$breakpoint} { z-index: 3; }
        .u-z--4\@#{$breakpoint} { z-index: 4; }
        .u-z--top\@#{$breakpoint} { z-index: 666; }
    }
}
