
.u-bg--contain { background-size: contain; }
.u-bg--cover { background-size: cover; }



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-bg--contain\@#{$breakpoint} { background-size: contain; }
        .u-bg--cover\@#{$breakpoint} { background-size: cover; }
    }
}
