
.u-circle { border-radius: 100%; }

@each $value in $zss--border-radius-scale {
    .u-br--#{index($zss--border-radius-scale, $value) - 1} { border-radius: $value; }
}



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-circle\@#{$breakpoint} { border-radius: 100%; }

        @each $value in $zss--border-radius-scale {
            .u-br--#{index($zss--border-radius-scale, $value) - 1} { border-radius: $value; }
        }
    }
}
