

.u-b--dashed { border-style: dashed; }
.u-b--dotted { border-style: dotted; }
.u-b--solid { border-style: solid; }



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-b--dashed\@#{$breakpoint} { border-style: dashed; }
        .u-b--dotted\@#{$breakpoint} { border-style: dotted; }
        .u-b--solid\@#{$breakpoint} { border-style: solid; }
    }
}
