
.u-hidden { display: none; }
.u-block { display: block; }
.u-inline { display: inline; }
.u-inline-block { display: inline-block; }
.u-table { display: table; }
.u-cell { display: table-cell; }
.u-row { display: table-row; }
.u-row-group { display: table-row-group; }
.u-column { display: table-column; }
.u-column-group { display: table-column-group; }



@each $screen, $size in $zss--breakpoints {
    @include media-from($screen) {
        .u-hidden\@#{$screen} { display: none; }
        .u-block\@#{$screen} { display: block; }
        .u-inline\@#{$screen} { display: inline; }
        .u-inline-block\@#{$screen} { display: inline-block; }
        .u-table\@#{$screen} { display: table; }
        .u-cell\@#{$screen} { display: table-cell; }
        .u-row\@#{$screen} { display: table-row; }
        .u-row-group\@#{$screen} { display: table-row-group; }
        .u-column\@#{$screen} { display: table-column; }
        .u-column-group\@#{$screen} { display: table-column-group; }
    }
}
