/*-----------------------------------------------------------------------------*\
 * #UTILITIES display
\*-----------------------------------------------------------------------------*/

@import '../variables/responsive';



//
// Local variables.
//
$display-values: (
    hidden: none,
    block: block,
    inline: inline,
    inline-block: inline-block
);



@each $name, $value in $display-values {
    /**
     * Utility class for applying a display value of `#{$value}` to an element.
     */
    // scss-lint:disable ImportantRule
    .u-#{$name} { display: $value !important; }
    // scss-lint:enable ImportantRule
}

@each $screen, $size in $zss-screens {
    @each $name, $value in $display-values {
        @media (min-width: $size) {
            // scss-lint:disable ImportantRule
            .u-#{$name}\@#{$screen} { display: $value !important; }
            // scss-lint:enable ImportantRule
        }
    }
}
