/*-----------------------------------------------------------------------------*\
 * #UTILITIES display
\*-----------------------------------------------------------------------------*/



//
// Local variables.
//
$display-values: (
    hidden: none,
    block: block,
    inline: inline,
    inline-block: inline-block
);



@each $name, $value in $display-values {

    /**
     * Utility class for applying a display value of `#{$value}` to an element.
     */
    .u-#{$name} { display: $value; }

    @each $screen, $size in $zss-screens {
        @media (min-width: $size) {
            .u-#{$name}\@#{$screen} { display: $value; }
        }
    }
}
