
.u-f--right { float: right; }
.u-f--left { float: left; }
.u-f--none { float: none; }



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-f--right\@#{$breakpoint} { float: right; }
        .u-f--left\@#{$breakpoint} { float: left; }
        .u-f--none\@#{$breakpoint} { float: none; }
    }
}
