
.u-f--right { float: right; }
.u-f--left { float: left; }
.u-f--none { float: none; }



@each $screen, $size in $zss-screens {
    @include media-from($screen) {
        .u-f--right\@#{$screen} { float: right; }
        .u-f--left\@#{$screen} { float: left; }
        .u-f--none\@#{$screen} { float: none; }
    }
}
