/*-----------------------------------------------------------------------------*\
 * #UTILITIES position
\*-----------------------------------------------------------------------------*/



//
// Local variables.
//
$position-values: absolute fixed relative static;



@each $p in $position-values {

    /**
     * Utility class for applying a position value of `#{$p}` to an element.
     */
    .u-#{$p} { position: $p; }

    @each $screen, $size in $zss-screens {
        @media (min-width: $size) {
            .u-#{$p}\@#{$screen} { position: $p; }
        }
    }
}



/**
 * Quickly move an element to one or more sides.
 */
.u-top--0 { top: 0; }
.u-right--0 { right: 0; }
.u-bottom--0 { bottom: 0; }
.u-left--0 { left: 0; }
