/*-----------------------------------------------------------------------------*\
 * #UTILITIES spacing
\*-----------------------------------------------------------------------------*/


@for $i from 1 through length($zss--spacing-scale) {
    $value: nth($zss--spacing-scale, $i);

    .u-m--x-auto { margin-right: auto; margin-left: auto; }

    .u-m--#{$i - 1} { margin: $value; }
    .u-m--t#{$i - 1} { margin-top: $value; }
    .u-m--r#{$i - 1} { margin-right: $value; }
    .u-m--b#{$i - 1} { margin-bottom: $value; }
    .u-m--l#{$i - 1} { margin-left: $value; }

    .u-m--y#{$i - 1} { margin-top: $value; margin-bottom: $value; }
    .u-m--x#{$i - 1} { margin-right: $value; margin-left: $value; }

    @if $value > 0 {
        .u-m--t#{$i - 1}n { margin-top: -#{$value}; }
        .u-m--r#{$i - 1}n { margin-right: -#{$value}; }
        .u-m--b#{$i - 1}n { margin-bottom: -#{$value}; }
        .u-m--l#{$i - 1}n { margin-left: -#{$value}; }
    }

    .u-p--#{$i - 1} { padding: $value; }
    .u-p--t#{$i - 1} { padding-top: $value; }
    .u-p--r#{$i - 1} { padding-right: $value; }
    .u-p--b#{$i - 1} { padding-bottom: $value; }
    .u-p--l#{$i - 1} { padding-left: $value; }

    .u-p--y#{$i - 1} { padding-top: $value; padding-bottom: $value; }
    .u-p--x#{$i - 1} { padding-right: $value; padding-left: $value; }
}




@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        @for $i from 1 through length($zss--spacing-scale) {
            $value: nth($zss--spacing-scale, $i);
            
            .u-m--x-auto\@#{$breakpoint} { margin-right: auto; margin-left: auto; }

            .u-m--#{$i - 1}\@#{$breakpoint} { margin: $value; }
            .u-m--t#{$i - 1}\@#{$breakpoint} { margin-top: $value; }
            .u-m--r#{$i - 1}\@#{$breakpoint} { margin-right: $value; }
            .u-m--b#{$i - 1}\@#{$breakpoint} { margin-bottom: $value; }
            .u-m--l#{$i - 1}\@#{$breakpoint} { margin-left: $value; }

            .u-m--y#{$i - 1}\@#{$breakpoint} { margin-top: $value; margin-bottom: $value; }
            .u-m--x#{$i - 1}\@#{$breakpoint} { margin-right: $value; margin-left: $value; }

            @if $value > 0 {
                .u-m--t#{$i - 1}n\@#{$breakpoint} { margin-top: -#{$value}; }
                .u-m--r#{$i - 1}n\@#{$breakpoint} { margin-right: -#{$value}; }
                .u-m--b#{$i - 1}n\@#{$breakpoint} { margin-bottom: -#{$value}; }
                .u-m--l#{$i - 1}n\@#{$breakpoint} { margin-left: -#{$value}; }
            }

            .u-p--#{$i - 1}\@#{$breakpoint} { padding: $value; }
            .u-p--t#{$i - 1}\@#{$breakpoint} { padding-top: $value; }
            .u-p--r#{$i - 1}\@#{$breakpoint} { padding-right: $value; }
            .u-p--b#{$i - 1}\@#{$breakpoint} { padding-bottom: $value; }
            .u-p--l#{$i - 1}\@#{$breakpoint} { padding-left: $value; }

            .u-p--y#{$i - 1}\@#{$breakpoint} { padding-top: $value; padding-bottom: $value; }
            .u-p--x#{$i - 1}\@#{$breakpoint} { padding-right: $value; padding-left: $value; }
        }
    }
}
