
.u-capitalize { text-transform: capitalize; }
.u-lower { text-transform: lowercase; }
.u-upper { text-transform: uppercase; }



@each $screen, $size in $zss--breakpoints {
    @include media-from($screen) {
        .u-capitalize\@#{$screen} { text-transform: capitalize; }
        .u-lower\@#{$screen} { text-transform: lowercase; }
        .u-upper\@#{$screen} { text-transform: uppercase; }
    }
}
