
.u-text--right { text-align: right; }
.u-text--center { text-align: center; }
.u-text--left { text-align: left; }



@each $breakpoint, $size in $zss--breakpoints {
    @include media-from($breakpoint) {
        .u-text--right\@#{$breakpoint} { text-align: right; }
        .u-text--center\@#{$breakpoint} { text-align: center; }
        .u-text--left\@#{$breakpoint} { text-align: left; }
    }
}
