//-----------------------------------------------------------------------------\\
// #HELPERS units
//-----------------------------------------------------------------------------//



///
// Function that calculates the rem value for the given number of pixels.
//
@function rem($px) {
    @if (unit($px) == 'rem') {
        @return $px;
    }

    @return ($px / $zss-base-font-size) * 1rem;
}



//
// Sets the font size in REM, and calculates the corresponding line height.
//
// Usages:
//
// Creates a size of 1.5rem (assuming the base font size is 16px):
// @include font-px-to-rem(24px);
//
// Override the calculated line-height:
// @include font-px-to-rem(24px, 26px);
//
//
@mixin font-rem($font-size, $line-height: auto) {
    font-size: rem($font-size);

    @if $line-height == auto {
        line-height: ceil($zss-base-line-height / $font-size);
    } @else {
        @if (type-of($line-height) == number or $line-height == inherit or $line-height == normal) {
            line-height: $line-height;
        } @elseif ($line-height != none and $line-height != false) {
            @warn "#{$line-height} is not a valid value for line-height."
        }
    }
}
